<!DOCTYPE html>

<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>About - StartupBase</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
        <meta content="We're proud of our early adopters!" name="description" />
        <meta content="summary_large_image" name="twitter:card" />
        <meta content="@startupbaseio" name="twitter:site" />
        <meta content="About StartupBase" name="twitter:title" />
        <meta content="We're proud of our early adopters!" name="twitter:description" />
        <meta content="https://startupbase.io/img/early-adopters.png" name="twitter:image" />
        <meta content="@startupbaseio" name="twitter:creator" />

        <meta content="221041204967678" property="fb:app_id" />
        <meta content="StartupBase" property="og:site_name" />
        <meta content="About StartupBase" property="og:title" />
        <meta content="article" property="og:type" />
        <meta content="https://startupbase.io/img/early-adopters.png" property="og:image" />
        <meta content="https://startupbase.io/about" property="og:url" />
        <meta content="We're proud of our early adopters!" property="og:description" />
    
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" content="7e391764-002d-4328-b6b4-a73ed1a08f8f" />
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    
    <!--imgix host configuration-->
    <meta content="sb.imgix.net" property="ix:host" />
    <meta content="true" property="ix:useHttps" />
    
    <link href="https://dev.kroplet.com/themes/5a5fcc915f3d5c72c10f8317-bootstrap.css?v=2.2" media="screen" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" rel="stylesheet" />
    <link media="screen" rel="stylesheet" href="css/animate.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick-theme.css" />
    <link media="screen" rel="stylesheet" href="vendors/footable/css/footable.standalone.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/summernote/summernote.css" />
    <link media="screen" rel="stylesheet" href="vendors/pnotify/pnotify.css" />
    <link media="screen" rel="stylesheet" href="vendors/select2/css/select2.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/magnific-popup/magnific-popup.css" />
    <link media="screen" rel="stylesheet" href="css/vendors.css" />

    
    
        <link href="img/ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
        <link href="img/ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
        <link href="img/ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
        <link href="img/ico/site.webmanifest" rel="manifest" />
        <link color="#95ffb1" href="img/ico/safari-pinned-tab.svg" rel="mask-icon" />
        <link href="img/ico/favicon.ico" rel="shortcut icon" />
        <meta content="#603cba" name="msapplication-TileColor" />
        <meta content="/img/ico/browserconfig.xml" name="msapplication-config" />
        <meta content="#95ffb1" name="theme-color" />
    
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61485040-9', 'auto');
  ga('send', 'pageview');
</script>
    
    
        <script>
          !function(e){var t,a={kitId:"aib0myx",scriptTimeout:3e3,async:!0},n=e.documentElement,c=setTimeout(function(){n.className=n.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),i=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];n.className+=" wf-loading",i.src="https://use.typekit.net/"+a.kitId+".js",i.async=!0,i.onload=i.onreadystatechange=function(){if(t=this.readyState,!(s||t&&"complete"!=t&&"loaded"!=t)){s=!0,clearTimeout(c);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(i,o)}(document);
        </script>
    
</head>
<body>
<!--top message bar-->


<!--not verified bar-->


<!--product top welcome message-->


<!--header-->
<section class="bg-transparent">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-0 px-sm-3">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand py-0" href="index.html">
                        <img alt="StartupBase" class="navbar-logo-sm" src="img/logo.svg" />
                    </a>
                    <button aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mr-auto" data-target="#main-navigation" data-toggle="collapse" type="button">
                        <span class="text-muted" data-feather="more-horizontal"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="featured-startups.html">Featured</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="markets.html">Markets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="newsletter.html">Spark</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link top-badge" data-badge="" target="_blank" href="https://whobal.com/?utm_source=sb-header">Sell Business</a>
                            </li>
                            <li class="nav-item more-menu-alt">
                                <a class="nav-link" href="changelog.html">Changelog</a>
                            </li>
                            <li class="nav-item dropdown d-none more-menu">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle pb-1" data-toggle="dropdown" href="#" id="more-items">
                                    <span class="mt-1" data-feather="more-horizontal" height="18" width="18"></span>
                                </a>
                                <div aria-labelledby="more-items" class="dropdown-menu">
                                    <a class="dropdown-item" href="changelog.html">Changelog</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-auto px-0 px-sm-3">
                <div class="d-flex flex-row align-items-center my-3 justify-content-end px-3">
                    <span class="search-icon open-search" data-feather="search" height="20" onclick="toggleSearch()" width="20"></span>
                    
                    <a class="btn btn-primary mr-2 d-sm-flex flex-sm-row align-sm-items-center d-none" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="plus" height="20" width="20"></em> Startup
                    </a>
                    <a class="btn btn-light d-flex flex-row align-items-center" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="user" height="20" width="20"></em> Log In
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>


        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action disabled text-uppercase font-weight-bold" href="#">StartupBase</a>
                            <a class="list-group-item list-group-item-action" href="terms.html">Terms of Service</a>
                            <a class="list-group-item list-group-item-action" href="privacy.html">Privacy Policy</a>
                            <a class="list-group-item list-group-item-action active" href="about.html">About</a>
                            <a class="list-group-item list-group-item-action" href="faq.html">FAQ</a>
                            <a class="list-group-item list-group-item-action" href="criteria.html">Selection Criteria</a>
                            <a class="list-group-item list-group-item-action" href="changelog.html">Changelog</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h1>About <del>Us</del> You!</h1>
                        <p class="lead">
                            <i>StartupBase is a community of makers and early adopters to share & discuss the
                                latest products and ideas. It is a place to discover and get early access to exciting 
                                new startups.</i>
                        </p>
                        <div class="mt-5">
                            <h4>We're proud of our amazing early adopters 😍</h4>
                            <p>A special thanks to the earliest people who trusted us and used our service for good. StartupBase wouldn't be possible without them.</p>
                            <div class="row mt-4">
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40HuyTran.html">
                                        <img class="rounded-circle img-fluid" alt="Huy" src="../ik.imagekit.io/sb/avatars/0b1d2acb-25b1-4f0a-8a37-b79606b89a7df3da.jpg?tr=w-60,h-60" title="Huy Tran (HuyTran)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40StefekSokal.html">
                                        <img class="rounded-circle img-fluid" alt="Stefek" src="../ik.imagekit.io/sb/avatars/b22c7c6b-14cb-407f-a1f4-2915fba32c01f3da.jpg?tr=w-60,h-60" title="Stefek Sokal (StefekSokal)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40p12dpraneeth.html">
                                        <img class="rounded-circle img-fluid" alt="Praneeth" src="../ik.imagekit.io/sb/avatars/669cdbb8-f107-4f14-add2-e5b8393eb5dbf3da.jpg?tr=w-60,h-60" title="Praneeth Babu (p12dpraneeth)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40conmarap.html">
                                        <img class="rounded-circle img-fluid" alt="Kostas" src="../ik.imagekit.io/sb/avatars/855a788a-e679-4ea5-b699-e3df6d900856f3da.gif?tr=w-60,h-60" title="Kostas T (conmarap)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40elibrownye.html">
                                        <img class="rounded-circle img-fluid" alt="Eli" src="../ik.imagekit.io/sb/avatars/8454417d-6ae6-4a35-938d-5daa1abbfcf1f3da.jpg?tr=w-60,h-60" title="Eli Brown (elibrownye)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40BMannelli.html">
                                        <img class="rounded-circle img-fluid" alt="Bernardo" src="../ik.imagekit.io/sb/avatars/05a88432-9f61-44b6-a1f4-b35869d17768f3da.jpg?tr=w-60,h-60" title="Bernardo Mannelli (BMannelli)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40Umar372.html">
                                        <img class="rounded-circle img-fluid" alt="Umar" src="../ik.imagekit.io/sb/avatars/6b9caff1-2f19-4697-a864-122f3a02e69cf3da.jpg?tr=w-60,h-60" title="Umar Farooq (Umar372)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40kevinu.html">
                                        <img class="rounded-circle img-fluid" alt="Kevin" src="../ik.imagekit.io/sb/avatars/c5c6a755-b14f-42dd-be46-77ed99130f9cf3da.jpg?tr=w-60,h-60" title="Kevin U (kevinu)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40bharani91.html">
                                        <img class="rounded-circle img-fluid" alt="Bharani" src="../ik.imagekit.io/sb/avatars/9a1d082e-d612-476b-be12-083e183cb4ddf3da.jpg?tr=w-60,h-60" title="Bharani (bharani91)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40iGamesDev.html">
                                        <img class="rounded-circle img-fluid" alt="Vladimir" src="../ik.imagekit.io/sb/avatars/36aaf7c7-04f4-4edb-b1a0-b22cb3e5aae2f3da.jpg?tr=w-60,h-60" title="Vladimir Matusevic (iGamesDev)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40muratsu.html">
                                        <img class="rounded-circle img-fluid" alt="Murat" src="../ik.imagekit.io/sb/avatars/d7ecf81d-5d17-4d03-b4eb-234b3bed95fbf3da.jpg?tr=w-60,h-60" title="Murat Sütunç (muratsu)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40jrmarciniak.html">
                                        <img class="rounded-circle img-fluid" alt="Jan" src="../ik.imagekit.io/sb/avatars/85601221-c1f8-403f-a3b2-4a27ef313eb8f3da.jpg?tr=w-60,h-60" title="Jan (jrmarciniak)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40derekneuland.html">
                                        <img class="rounded-circle img-fluid" alt="Derek" src="../ik.imagekit.io/sb/avatars/e3789f7b-190b-445b-ad07-2814c6d9b926f3da.jpg?tr=w-60,h-60" title="Derek Neuland (derekneuland)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40The_Scott_Davis.html">
                                        <img class="rounded-circle img-fluid" alt="Scott" src="../ik.imagekit.io/sb/avatars/e1f5c365-4d6a-40f8-a55d-0e482befb6ccf3da.jpg?tr=w-60,h-60" title="Scott ⭐ (The_Scott_Davis)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40Matheus_Mnzs.html">
                                        <img class="rounded-circle img-fluid" alt="Matheus" src="../ik.imagekit.io/sb/avatars/8e1f210a-7a08-481b-baef-c087db920165f3da.jpg?tr=w-60,h-60" title="Matheus ✒️ (Matheus_Mnzs)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40pitman_mark.html">
                                        <img class="rounded-circle img-fluid" alt="Mark" src="../ik.imagekit.io/sb/avatars/800603ac-34a4-4912-a520-5cc11da41ff7f3da.jpg?tr=w-60,h-60" title="Mark Pitman (pitman_mark)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40antoniomb.html">
                                        <img class="rounded-circle img-fluid" alt="Antonio" src="../ik.imagekit.io/sb/avatars/6eb73777-d8e3-4b2e-804e-851c89fd442ff3da.jpg?tr=w-60,h-60" title="Antonio Mb (antoniomb)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40faisalhassanx.html">
                                        <img class="rounded-circle img-fluid" alt="Faisal" src="../ik.imagekit.io/sb/avatars/975d2864-394a-4726-9987-71a6fd716cf1f3da.jpg?tr=w-60,h-60" title="Faisal Hassan (faisalhassanx)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40silenzushka.html">
                                        <img class="rounded-circle img-fluid" alt="Alexander" src="../ik.imagekit.io/sb/avatars/435a7a0c-ff23-4aed-835a-e8e480be2cc2f3da.jpg?tr=w-60,h-60" title="Alexander Polyakov (silenzushka)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40Ahmad_abutaleb.html">
                                        <img class="rounded-circle img-fluid" alt="أحمد" src="../ik.imagekit.io/sb/avatars/c3f06327-c0c8-45d2-bb10-58a28cb24808f3da.jpg?tr=w-60,h-60" title="أحمد أبوطالب (Ahmad_abutaleb)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40patry_francois.html">
                                        <img class="rounded-circle img-fluid" alt="Francois" src="../ik.imagekit.io/sb/avatars/99056f08-f8cd-484e-b77a-33a33f48c9fbf3da.jpg?tr=w-60,h-60" title="Francois Patry (patry_francois)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40_MarkValles.html">
                                        <img class="rounded-circle img-fluid" alt="Mark" src="../ik.imagekit.io/sb/avatars/ba56892b-f812-421a-9c4b-ca4ebfcfcd9ff3da.jpg?tr=w-60,h-60" title="Mark Valles (_MarkValles)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40dlpyyt.html">
                                        <img class="rounded-circle img-fluid" alt="Dana" src="../ik.imagekit.io/sb/avatars/7ed2f024-e7c7-4a66-aa16-647532cbacdcf3da.jpg?tr=w-60,h-60" title="Dana Parsons (dlpyyt)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40gaurang0009.html">
                                        <img class="rounded-circle img-fluid" alt="Gaurang" src="../ik.imagekit.io/sb/avatars/eb35c1cd-3c98-4663-8383-57c5d12e812af3da.jpg?tr=w-60,h-60" title="Gaurang Desai (gaurang0009)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40PhilipSajeesh.html">
                                        <img class="rounded-circle img-fluid" alt="Sajeesh" src="../ik.imagekit.io/sb/avatars/38bebe54-6f21-49db-834f-fdba54cdf3b2f3da.jpg?tr=w-60,h-60" title="Sajeesh Philip (PhilipSajeesh)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40thedimmick.html">
                                        <img class="rounded-circle img-fluid" alt="Steve" src="../ik.imagekit.io/sb/avatars/5524c8da-7ca2-4477-8af4-3eade168eceaf3da.jpg?tr=w-60,h-60" title="Steve Dimmick (thedimmick)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40sourishrygbee.html">
                                        <img class="rounded-circle img-fluid" alt="Sourish" src="../ik.imagekit.io/sb/avatars/92d6d35e-4583-4bdb-90d7-0635548c8774f3da.jpg?tr=w-60,h-60" title="Sourish Dasgupta (sourishrygbee)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40vladsavytskyy.html">
                                        <img class="rounded-circle img-fluid" alt="Vlad" src="../ik.imagekit.io/sb/avatars/bf281b26-067e-464e-9757-8767154d9c7ef3da.jpg?tr=w-60,h-60" title="Vlad Savytskyy (vladsavytskyy)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40byteship.html">
                                        <img class="rounded-circle img-fluid" alt="Timothy" src="../ik.imagekit.io/sb/avatars/727bce79-c6b3-4233-9cde-13803cba3adbf3da.jpg?tr=w-60,h-60" title="Timothy Robbins (byteship)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40m4rjann.html">
                                        <img class="rounded-circle img-fluid" alt="Marjan" src="../ik.imagekit.io/sb/avatars/0125c53e-8c19-458a-ba92-e59496297f1df3da.jpg?tr=w-60,h-60" title="Marjan Nikolovski (m4rjann)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40apurvamuthe.html">
                                        <img class="rounded-circle img-fluid" alt="Apurva" src="../ik.imagekit.io/sb/avatars/3692ad6c-9fa8-4ba9-82e6-b93fd3c8cdc6f3da.jpg?tr=w-60,h-60" title="Apurva Muthe (apurvamuthe)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40neilsandhu.html">
                                        <img class="rounded-circle img-fluid" alt="Neil" src="../ik.imagekit.io/sb/avatars/30b995c4-14dd-4dd1-8ba7-5dd31500a303f3da.jpg?tr=w-60,h-60" title="Neil Sandhu (neilsandhu)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40hmayaktigranyan.html">
                                        <img class="rounded-circle img-fluid" alt="Hmayak" src="../ik.imagekit.io/sb/avatars/1262ce8b-e522-4742-b54b-a6234cdaf183f3da.jpg?tr=w-60,h-60" title="Hmayak Tigranyan (hmayaktigranyan)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40microdesignn.html">
                                        <img class="rounded-circle img-fluid" alt="Martin" src="../ik.imagekit.io/sb/avatars/1c16b297-c55a-4197-a0cd-9a6233a7b61bf3da.jpg?tr=w-60,h-60" title="Martin Tonev (microdesignn)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40regan.html">
                                        <img class="rounded-circle img-fluid" alt="Regan" src="../ik.imagekit.io/sb/avatars/0bafacf8-8ba3-418c-90e8-c323dd7a7ad5f3da.png?tr=w-60,h-60" title="Regan Quaning (regan)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40craigjbarber.html">
                                        <img class="rounded-circle img-fluid" alt="Craig" src="../ik.imagekit.io/sb/avatars/71d0501d-ba1e-4743-af1d-7f3bf1a64c10f3da.jpg?tr=w-60,h-60" title="Craig Barber (craigjbarber)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40katherineb.html">
                                        <img class="rounded-circle img-fluid" alt="Katherine" src="../ik.imagekit.io/sb/avatars/622301af-4603-4c12-bcae-b70b5f941c2ef3da.jpg?tr=w-60,h-60" title="Katherine Bienkowski (katherineb)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40gosynco.html">
                                        <img class="rounded-circle img-fluid" alt="Peter" src="../ik.imagekit.io/sb/avatars/f139ee51-cda9-4dbf-be98-269f32785a32f3da.jpg?tr=w-60,h-60" title="Peter Frank (gosynco)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40mtambogift.html">
                                        <img class="rounded-circle img-fluid" alt="Gift N." src="../ik.imagekit.io/sb/avatars/ebd24a14-cc80-4cb9-a18c-46f0b272c50ef3da.jpg?tr=w-60,h-60" title="Gift N. Mtambo (mtambogift)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40shawnvenasse.html">
                                        <img class="rounded-circle img-fluid" alt="Shawn" src="../ik.imagekit.io/sb/avatars/15647807-6dd8-4d5e-bc58-8c324978d0d3f3da.png?tr=w-60,h-60" title="Shawn Venasse (shawnvenasse)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40usamanoman.html">
                                        <img class="rounded-circle img-fluid" alt="Shiekh" src="../ik.imagekit.io/sb/avatars/e8afccfa-778c-4e7d-9433-980a46df63c8f3da.jpg?tr=w-60,h-60" title="Shiekh Usama (usamanoman)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40ambonium.html">
                                        <img class="rounded-circle img-fluid" alt="Amrith" src="../ik.imagekit.io/sb/avatars/e2448a3e-c549-4b52-9170-d55039c23a1ff3da.jpg?tr=w-60,h-60" title="Amrith 🐣 (ambonium)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40selvamjilla.html">
                                        <img class="rounded-circle img-fluid" alt="Selvam" src="../ik.imagekit.io/sb/avatars/d4f53472-e3ce-47bd-a6a1-f83a5fbb0e81f3da.jpg?tr=w-60,h-60" title="Selvam Jilla (selvamjilla)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40aegenes.html">
                                        <img class="rounded-circle img-fluid" alt="Andrew" src="../ik.imagekit.io/sb/avatars/e1e625b3-ffa5-4918-9498-d172a9a4bb84f3da.jpg?tr=w-60,h-60" title="Andrew Egenes (aegenes)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40tigranhakobian.html">
                                        <img class="rounded-circle img-fluid" alt="Tigran" src="../ik.imagekit.io/sb/avatars/62bccd8d-00ae-4216-ab24-346e6beca0e5f3da.jpg?tr=w-60,h-60" title="Tigran Hakobyan (tigranhakobian)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40revhuff.html">
                                        <img class="rounded-circle img-fluid" alt="Josh" src="../ik.imagekit.io/sb/avatars/73dfe2c9-8ef4-42cb-a454-55520e3aeaeaf3da.jpg?tr=w-60,h-60" title="Josh Huff (revhuff)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40gregjwww.html">
                                        <img class="rounded-circle img-fluid" alt="Greg" src="../ik.imagekit.io/sb/avatars/55b5a74b-d429-4e0a-835f-34610a16c3eef3da.jpg?tr=w-60,h-60" title="Greg Worrall (gregjwww)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40leonardofed.html">
                                        <img class="rounded-circle img-fluid" alt="Leonardo" src="../ik.imagekit.io/sb/avatars/6015d6f4-3fe9-45c1-9454-ab6bcd4de7a5f3da.jpg?tr=w-60,h-60" title="Leonardo Federico (leonardofed)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40sawinyh.html">
                                        <img class="rounded-circle img-fluid" alt="Nick" src="../ik.imagekit.io/sb/avatars/7bfe10c5-ed6a-4b4c-8225-45a6954bbbd7f3da.jpg?tr=w-60,h-60" title="Nick Sawinyh (sawinyh)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40ludobos.html">
                                        <img class="rounded-circle img-fluid" alt="Ludovic" src="../ik.imagekit.io/sb/avatars/801a0afd-b9c2-468b-a9dc-bf01c6848462f3da.jpg?tr=w-60,h-60" title="Ludovic Bostral (ludobos)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40voteforpedro.html">
                                        <img class="rounded-circle img-fluid" alt="Peter" src="../ik.imagekit.io/sb/avatars/b74c2446-e207-48d2-b0b8-6ed86b6b2ae2f3da.jpg?tr=w-60,h-60" title="Peter Moulton (voteforpedro)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40jsharp9012.html">
                                        <img class="rounded-circle img-fluid" alt="James" src="../ik.imagekit.io/sb/avatars/5d0aa6e5-0cd2-4f0b-8d07-4584fd4db886f3da.jpg?tr=w-60,h-60" title="James Sharp (jsharp9012)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40walshmr83.html">
                                        <img class="rounded-circle img-fluid" alt="Matt" src="../ik.imagekit.io/sb/avatars/06fdea38-c035-4844-a3c6-e98d2505f725f3da.jpg?tr=w-60,h-60" title="Matt Walsh (walshmr83)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40snappd.html">
                                        <img class="rounded-circle img-fluid" alt="Creeshla" src="../ik.imagekit.io/sb/avatars/1956ceaa-25dd-4d9c-bbab-3b03d0e9183cf3da.jpg?tr=w-60,h-60" title="Creeshla Doherty (snappd)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40debasis.html">
                                        <img class="rounded-circle img-fluid" alt="Debasis" src="../ik.imagekit.io/sb/avatars/5ec55412-f3f7-48ef-90c9-447ef6f144fff3da.jpg?tr=w-60,h-60" title="Debasis Panda (debasis)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40i_am_chris.html">
                                        <img class="rounded-circle img-fluid" alt="Christopher" src="../ik.imagekit.io/sb/avatars/6b9b7013-7198-45d5-bbc4-3c144876de3af3da.jpg?tr=w-60,h-60" title="Christopher Podlaski (i_am_chris)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40elenazala.html">
                                        <img class="rounded-circle img-fluid" alt="Elena" src="../ik.imagekit.io/sb/avatars/a6656dc3-48d9-4f0d-a60e-1ac557ce0800f3da.jpg?tr=w-60,h-60" title="Elena Zala (elenazala)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40fubsz.html">
                                        <img class="rounded-circle img-fluid" alt="Samy" src="../ik.imagekit.io/sb/avatars/903db1de-299d-49dc-af85-f9562fec0a0af3da.jpg?tr=w-60,h-60" title="Samy Zabarah (fubsz)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40dariakornilova.html">
                                        <img class="rounded-circle img-fluid" alt="Daria" src="../ik.imagekit.io/sb/avatars/cb865171-4d45-441e-a6de-4751defe987ff3da.jpg?tr=w-60,h-60" title="Daria Kornilova (dariakornilova)" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3 pb-2 px-0">
                                    <a href="%40teogin.html">
                                        <img class="rounded-circle img-fluid" alt="Teodosi" src="../ik.imagekit.io/sb/avatars/66f82d38-46b3-49b4-91c4-a93bc04e27a4f3da.jpg?tr=w-60,h-60" title="Teodosi Ginin (teogin)" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <h4>Our Team</h4>
                            <p>Meet the team behind StartupBase.</p>
                            <div class="row mt-5">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <a href="%40attacomsian.html">
                                            <img class="rounded-circle img-fluid mr-3" alt="AT" src="../ik.imagekit.io/sb/avatars/eff938e9-21d3-4966-a07b-09b4552c797ab750.jpg?tr=w-80,h-80" />
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mb-0">AT ⚡️</h5>
                                            <p class="my-2">@attacomsian</p>
                                            <p class="small-xl">Founder & Lead Developer</p>
                                            <div class="text-muted d-flex flex-row align-items-center mb-2">
                                                <a class="mr-2" rel="nofollow" target="_blank" href="https://attacomsian.com/?ref=startupbase">
                                                    <em data-feather="link" height="16" width="16"></em>
                                                </a>
                                                <a rel="nofollow" target="_blank" href="https://twitter.com/attacomsian/?ref=startupbase">
                                                    <em data-feather="twitter" height="16" width="16"></em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <a href="%40innocy.html">
                                            <img class="rounded-circle img-fluid mr-3" alt="InNocY" src="../ik.imagekit.io/sb/avatars/8701f11b-5b90-4ff9-80ff-3372906abd1db750.jpg?tr=w-80,h-80" />
                                        </a>
                                        <div class="media-body">
                                            <h5 class="mb-0">InNocY</h5>
                                            <p class="my-2">@innocy</p>
                                            <p class="small-xl">Co-founder & Community Manager</p>
                                            <div class="text-muted d-flex flex-row align-items-center mb-2">
                                                
                                                <a rel="nofollow" target="_blank" href="https://twitter.com/cRypTaNaLyXt/?ref=startupbase">
                                                    <em data-feather="twitter" height="16" width="16"></em>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-sm-12">
                                    <p>
                                        <a class="text-dark text-underline" href="faq.html">Got a question? Checkout our FAQ</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    

<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-12">
                <h5>
                    About
                </h5>
                <p>
                    StartupBase is a community of makers and early adopters to share & discuss the latest
                    products and ideas. It is a place to discover and get early access to exciting new startups.
                    <br /><br />
                    We are proud of <a href="about.html">our early adopters</a> 😍
                </p>
            </div>
            <div class="col-sm-3 ml-auto col-6">
                <h5>Discover</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html">Startups</a></li>
                    <li><a href="markets.html">Markets</a></li>
                    <li><a href="promote.html">Promote</a></li>
                    <li><a href="login.html">Submit</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-6">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="criteria.html">Selection Criteria</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="newsletter.html">Newsletter</a></li>
                    <li><a href="mailto:support@startupbase.io">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-sm-12">
                <ul class="list-inline navbar-font-size">
                    <li class="list-inline-item mr-4"><a href="terms.html">Terms</a></li>
                    <li class="list-inline-item mr-4"><a href="privacy.html">Privacy</a></li>
                    <li class="list-inline-item mr-4"><a href="changelog.html">Changelog</a></li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center mr-4">
                        <a target="_blank" href="https://twitter.com/startupbaseio">
                            <em data-feather="twitter" height="16" width="16"></em>
                        </a>
                    </li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center">
                        <a target="_blank" href="https://www.facebook.com/startupbase.io">
                            <em data-feather="facebook" height="16" width="16"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>
                    Copyright
                    2019
                    StartupBase.
                    <span class="heading-light small-xl">All rights reserved.</span>
                </p>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>Made with ❤️️ by <a class="text-muted" href="https://attacomsian.com/?utm_source=startupbase" target="_blank">@attacomsian</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!--search popup-->
<section class="popup-section d-none py-4" id="search-popup">
    <div class="container">
        <button class="d-flex flex-row align-items-center ml-auto close d-print-none" onclick="toggleSearch();"><em data-feather="x" height="32" width="32"></em></button>
        <div class="row">
            <div class="col-sm-10 col-12 mx-auto">
                <textarea autocomplete="off" class="search-box" id="search-query" placeholder="Type to search ..." rows="1"></textarea>
                <div class="text-center mt-6 " id="loader">
                    <div class="loader mx-auto"></div>
                </div>
                <div class="mt-5" id="results"></div>
            </div>
        </div>
    </div>
</section>


    <!--        <script th:src="@{/js/jquery.min.js}"></script>
            <script defer th:src="@{/vendors/tether.min.js}"></script>
            <script defer th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="../code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer="" src="../maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
    <script defer="" src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>

    <script defer="" src="vendors/slick/slick.min.js"></script>
    <script defer="" src="vendors/jquery.easing.min.js"></script>
    <!--<script defer th:src="@{/vendors/wow.js}"></script>-->
    <script defer="" src="vendors/jquery.blockui.js"></script>
    <script defer="" src="vendors/footable/js/footable.min.js"></script>
    <script defer="" src="vendors/summernote/summernote.min.js"></script>
    <script defer="" src="vendors/pnotify/pnotify.min.js"></script>
    <script defer="" src="vendors/parsley.min.js"></script>
    <script defer="" src="vendors/select2/js/select2.min.js"></script>
    <script defer="" src="vendors/switchery.min.js"></script>
    <script defer="" src="vendors/fileinput/js/fileinput.min.js"></script>
    <script defer="" src="vendors/maxlength.min.js"></script>
    <script defer="" src="vendors/autosize.min.js"></script>
    <script defer="" src="vendors/dropzone.min.js"></script>
    <script defer="" src="vendors/moment.min.js"></script>
    <script defer="" src="vendors/livestamp.min.js"></script>
    <script defer="" src="vendors/imgix.min.js"></script>
    <script defer="" src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script defer="" src="vendors/theia-sticky-sidebar.min.js"></script>
    <script src="../twemoji.maxcdn.com/2/twemoji.min70e2.js?2.3.0"></script>
    <script defer="" src="js/appdd8a.js?2.0.2"></script>




    <div aria-hidden="false" class="modal" data-backdrop="static" data-keyboard="false" id="loginModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span data-feather="x"></span>
                    </button>
                    <div class="p-4">
                        <h4>Log in to StartupBase</h4>
                        <p class="lead">StartupBase is a community of makers and early adopters to share & discuss the
                            latest products and ideas.</p>
                        <div class="my-3 px-m px-md-5">
                            <a class="btn btn-twitter d-flex flex-row align-items-center justify-content-center" href="https://startupbase.io/login/twitter?origin=/about">
                                <em class="mr-2" data-feather="twitter" height="18" width="18"></em> Log in with Twitter
                            </a>
<!--                            <a th:href="@{/login/facebook(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-facebook d-flex flex-row align-items-center justify-content-center my-3">-->
<!--                                <em data-feather="facebook" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                Facebook-->
<!--                            </a>-->
<!--                            <a th:href="@{/login/linkedin(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-linkedin d-flex flex-row align-items-center justify-content-center">-->
<!--                                <em data-feather="linkedin" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                LinkedIn-->
<!--                            </a>-->
                        </div>
                        <small class="text-muted">We won't post without your permission.</small>
                        <p class="text-muted small pt-1">By clicking the log in button above, you agree to our
                            <a href="terms.html">Terms of Use</a>
                            and
                            <a href="privacy.html">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

    
    

    
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "../connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=262938574181652";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



</body>

</html>