<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>

	<title>HRLibrary</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
    <meta content="" name="description" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="" name="twitter:site" />
    <meta content="" name="twitter:title" />
    <meta content="" name="twitter:description" />
    <meta content="" name="twitter:image" />
    <meta content="" name="twitter:creator" />

    <meta content="" property="fb:app_id" />
    <meta content="" property="og:site_name" />
    <meta content="" property="og:title" />
    <meta content="article" property="og:type" />
    <meta content="" property="og:image" />
    <meta content="" property="og:url" />
    <meta content="" property="og:description" />

    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" content="7e391764-002d-4328-b6b4-a73ed1a08f8f" />
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    
    <!--imgix host configuration-->
    <meta content="sb.imgix.net" property="ix:host" />
    <meta content="true" property="ix:useHttps" />
    
    <link href="css/main.css" media="screen" rel="stylesheet" />
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
    
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" rel="stylesheet" />
    
    <link media="screen" rel="stylesheet" href="css/animate.min.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/slick/slick.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/slick/slick-theme.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/footable/css/footable.standalone.min.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/summernote/summernote.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/pnotify/pnotify.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/select2/css/select2.min.css" />
    
    <link media="screen" rel="stylesheet" href="vendors/magnific-popup/magnific-popup.css" />
    
    <link media="screen" rel="stylesheet" href="css/vendors.css" />

    <link media="screen" rel="stylesheet" href="css/style.css"/>

    
    
    <link href="img/ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="img/ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="img/ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="img/ico/site.webmanifest" rel="manifest" />
    <link color="#95ffb1" href="img/ico/safari-pinned-tab.svg" rel="mask-icon" />
    <link href="img/ico/favicon.ico" rel="shortcut icon" />
    <meta content="#603cba" name="msapplication-TileColor" />
    <meta content="/img/ico/browserconfig.xml" name="msapplication-config" />
    <meta content="#95ffb1" name="theme-color" />
    
    
</head>


<body>
<!--top message bar-->


<!--header-->
<section class="bg-transparent">
    
    <div class="container-fluid">
    
        <div class="row">
    
            <div class="col px-0 px-sm-3">
    
                <nav class="navbar navbar-expand-md navbar-light">
    
                    <a class="navbar-brand py-0" href="index.html">
    
                        <img alt="StartupBase" class="navbar-logo-sm" src="img/logo.svg" />
    
                    </a>
    
                    <button aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mr-auto" data-target="#main-navigation" data-toggle="collapse" type="button">
    
                        <span class="text-muted" data-feather="more-horizontal"></span>
    
                    </button>
    
                    <div class="collapse navbar-collapse" id="main-navigation">
    
                        <ul class="navbar-nav">
    
                            <li class="nav-item">
    
                                <a class="nav-link" href="categories.html">Topics</a>
    
                            </li>
    
                            <li class="nav-item">
    
                                <a class="nav-link" href="#">Startups</a>
    
                            </li>
    
                            <li class="nav-item">
    
                                <a class="nav-link" href="#">Events</a>
    
                            </li>
                            
                            <li class="nav-item">
    
                                <a class="nav-link" href="#">Our Services</a>
    
                            </li>

                            <li class="nav-item dropdown d-none more-menu">
                            
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle pb-1" data-toggle="dropdown" href="#" id="more-items">
                            
                                    <span class="mt-1" data-feather="more-horizontal" height="18" width="18"></span>
                            
                                </a>
                            
                                <div aria-labelledby="more-items" class="dropdown-menu">
                            
                                    <a class="dropdown-item" href="#">Changelog</a>
                            
                                </div>
                            
                            </li>
                        
                        </ul>
                    
                    </div>
                
                </nav>
            
            </div>
            
            
            <div class="col-auto px-0 px-sm-3">
            
                <div class="d-flex flex-row align-items-center my-3 justify-content-end px-3">
            
                    <span class="search-icon open-search" data-feather="search" height="20" onclick="toggleSearch()" width="20"></span>
            
                    
                    
                    <a class="btn btn-primary mr-2 d-sm-flex flex-sm-row align-sm-items-center d-none" onclick="$('#loginModal').modal('toggle');return false;" href="#">
                    
                        <em class="mr-2" data-feather="plus" height="20" width="20"></em> SignUp
                    
                    </a>
                    
                    <a class="btn btn-light d-flex flex-row align-items-center" onclick="$('#loginModal').modal('toggle');return false;" href="#">
                    
                        <em class="mr-2" data-feather="user" height="20" width="20"></em> Log In
                    
                    </a>
                    
                
                </div>
            
            </div>
        
        </div>
    
    </div>

</section>


    <section class="bg-hero pt-md-7 pt-4 pb-4 parallax-startup" id="bg-parallax" style="background:url(https://technext.ng/wp-content/uploads/2018/07/Opera-Snapshot_2018-07-03_083912_twitter.com_-750x354.png);">
        
        <div class="container">
        
            <div class="d-flex flex-md-row flex-column align-items-center">
        
                <img alt="Avatar" class="rounded bg-white" src="img/andela.png" />
        
                <div class="ml-md-4 pt-3 pt-md-0 my-auto d-flex flex-column align-items-center align-items-md-start">
        
                    <h4 class="mb-0">
                      
                        <span class="text-white">Andela Recruiting</span>
                      
                        <span class="timestamp ml-3" data-livestamp="2019-10-06T13:52:49.000Z">Oct 06, 2019</span>
                    
                    </h4>
                    
                    <p class="text-white small-xl text-headline mt-2 mb-0">by: Tejumade Olaniyi</p>
                
                </div>
                
                
                <div class="ml-md-auto pl-md-4 my-md-auto pt-3 pt-md-0">
                    
                    <span class="btn btn-upvote event-upvote px-4 mr-2 btn-light" data-id="1080">
                
                        <em class="ion-eye"></em>
                
                        <span class="upvote-count">1,280</span>
                
                    </span>                    
                    
                </div>
            
            </div>
        
        </div>
    
    </section>

    <!--details-->
    <section class="pt-5 pb-6" id="startup-details">
        
        <div class="container">
        
            <div class="row">
        
                <div class="col-md-9">
        
                    <div class="card card-body">
        
        
                        <div class="mt-4">
        
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        
                        </div>
        
                        <div class="mt-5">
        
                            <a class="btn btn-light btn-sm mr-1 mb-1" href="#">Recruiting</a>
        
                            <a class="btn btn-light btn-sm mr-1 mb-1" href="#">Onboarding</a>
        
                            <a class="btn btn-light btn-sm mr-1 mb-1" href="#">Team Management</a>
        
                        </div>
        
                    </div>
        
                </div>
        
                <div class="col-md-3">
        
                    <!--subscribe to updates-->
                    
                <div class="card card-body alert-primary mb-4" role="alert">
                   
                    <h6 class="heading-medium">Welcome to HrLibrary 👋</h6>
                   
                    <p class="text-muted small-xl">Best new HR tips by professionals, delivered to your inbox every Tuesday 😍</p>
                   
                    <div class="newsletter-form">
                   
                        <div class="form-group">
                   
                            <input class="form-control" id="newsletter-email" name="email" placeholder="Enter your email address" required="" type="email" />
                   
                        </div>
                   
                        <div class="form-group pt-0">
                   
                            <button class="btn btn-primary btn-block" id="subscribe-newsletter" type="button">Subscribe</button>
                   
                        </div>
                   
                    </div>
                
                </div>

                    <!--promote your startup - OWNER ONLY-->
                    
    

                    <div class="card">
                     
                        <div class="card-header bg-white">
                     
                            <h6 class="text-center mb-0">Share This Article</h6>
                     
                        </div>
                     
                        <div class="card-body">
                     
                            <div class="row">
                     
                                <div class="col-4 px-1">
                     
                                    <a class="btn btn-twitter btn-block social-share d-flex flex-row align-items-center" rel="share-on-twitter" data-href="https://twitter.com/intent/tweet?text=Billisimo%3A+Automated+software+renewal+reminders+for+your+team+on+%40startupbaseio&amp;url=https%3A%2F%2Fstartupbase.io%2Fstartups%2Fbillisimo&amp;related=StartupBaseIO" href="#">
                     
                                        <em class="mx-auto" data-feather="twitter" height="17" width="17"></em>
                     
                                    </a>
                     
                                </div>
                     
                                <div class="col-4 px-1">
                     
                                    <a class="btn btn-facebook btn-block social-share d-flex flex-row align-items-center" rel="share-on-facebook" data-href="https://www.facebook.com/dialog/share?app_id=221041204967678&amp;href=https%3A%2F%2Fstartupbase.io%2Fstartups%2Fbillisimo&amp;quote=" href="#">
                     
                                        <em class="mx-auto" data-feather="facebook" height="17" width="17"></em>
                     
                                    </a>
                     
                                </div>
                     
                                <div class="col-4 px-1">
                     
                                    <a class="btn btn-linkedin btn-block social-share d-flex flex-row align-items-center" rel="share-on-linkedin" data-href="https://www.linkedin.com/shareArticle?mini=true&amp;&amp;url=https%3A%2F%2Fstartupbase.io%2Fstartups%2Fbillisimo&amp;source=StartupBase.io" href="#">
                     
                                        <em class="mx-auto" data-feather="linkedin" height="17" width="17"></em>
                     
                                    </a>
                     
                                </div>
                     
                            </div>
                     
                        </div>
                    
                    </div>
                    
                    
                    <div class="card mt-4">
                    
                        <div class="card-header bg-white">
                    
                            <h6 class="text-center mb-0">About Author</h6>
                    
                        </div>
                    
                        <div class="card-body">
                            
                                
                                <div class="media mb-3">
                    
                                    <a target="_blank" href="#">
                    
                                        <img alt="Avatar" class="rounded-circle mr-2" style="width: 40px;" src="img/teju.jpg">
                    
                                    </a>
                    
                                    <div class="media-body">
                    
                                        <a target="_blank" href="#">
                    
                                            <p class="mb-0">Tejumade Olaniyi</p>
                    
                                            <p class="text-muted small mb-0">HR Specialist</p>
                    
                                        </a>
                    
                                    </div>
                    
                                </div>
                    
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--comments section-->
    <section class="bg-light py-5" id="discussion">
       
        <div class="container">
       
            <div class="row">
       
                <div class="col-md-8 mx-auto">
       
                    <h4>💬 Discussion</h4>
       
                    <div class="comments mt-4" id="comments-section">
                        
                    </div>
       
                    <div class="clearfix"></div>
       
                    <div class="pb-4" id="no-comments">
       
                        <p class="text-muted small-xl">There are no comments yet.</p>
       
                    </div>
       
                    <div class="card mt-4">
       
                        <div class="card-body text-muted small-xl">
       
                            Commenting is limited to those who are part of the community.
       
                            <a href="#" onclick="$('#loginModal').modal('toggle');return false;">
                                Login
                            </a> to participate in discussion 😎
                        
                        </div>
                    
                    </div>
                    
                </div>
            
            </div>
        
        </div>
    
    </section>

    <!--recent startups-->
    <section class="py-5" id="recent-startups">
        
        <div class="container">
        
            <h4>

                🔥 Recent in <span>Recruiting</span>
                
                <a class="float-right font-body font-weight-normal btn btn-sm btn-light" href="#">See All</a>
            
            </h4>
            
            <div class="row startups-deck">
            
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            
                    <div class="card border-0">
            
                        <a href="#">
                            
                            <div class="startup-image">
                                
                                <img class="card-img-top img-fluid rounded img-thumbnail" alt="" src="img/recruit.jpg" />
                            
                            </div>
                            
                            <div class="card-body px-0">
                               
                                <h6 class="card-title">
                               
                                    <span>Recruiting Tips</span>
                               
                                    <span class="btn btn-sm float-right event-upvote btn-light" data-id="1080">
                                    
                                        <em class="ion-arrow-up-b"></em>
                                    
                                        <span class="upvote-count">0</span>
                                    
                                    </span>

                                </h6>

                                <p class="card-text text-muted">Lorem ipsum sdfg sdfg</p>

                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!--hidden fields-->
    <input id="startup-id" type="hidden" value="1080" />


<footer class="py-5 bg-light">
    
    <div class="container">
    
        <div class="row">
    
            <div class="col-sm-5 col-12">
    
                <h5>
    
                    About
    
                </h5>
    
                <p>
                        HrLibrary is a pan-African community of 
                        HR professionals to share & discuss different topics. 
                        It is a single place to lean on other people's experience and 
                        discover everything about HR practices in Africa.
                </p>
           
            </div>
           
            
            <div class="col-sm-3 ml-auto col-6">
           
                <h5>Discover</h5>
           
                <ul class="list-unstyled">
           
                    <li><a href="#">Startups</a></li>
           
                    <li><a href="#">Events</a></li>
           
                    <li><a href="#">Promote</a></li>
           
                    <li><a href="#">Submit</a></li>
           
                </ul>
           
            </div>
           
           
            <div class="col-sm-3 col-6">
               
                <h5>Resources</h5>
               
                <ul class="list-unstyled">
               
                    <li><a href="#">Selection Criteria</a></li>
               
                    <li><a href="#">FAQ</a></li>
               
                    <li><a href="#">Newsletter</a></li>
               
                    <li><a href="#">Contact Us</a></li>
               
                </ul>
            
            </div>
        
        </div>
        
        
        <div class="row mt-5 text-center">
            
            <div class="col-sm-12">
            
                <ul class="list-inline navbar-font-size">
            
                    <li class="list-inline-item mr-4"><a href="#">Terms</a></li>
            
                    <li class="list-inline-item mr-4"><a href="#">Privacy</a></li>
            
                    <li class="list-inline-item d-inline-flex flex-row align-items-center mr-4">
            
                        <a target="_blank" href="#">
                            <em data-feather="twitter" height="16" width="16"></em>
                        </a>
                    </li>
            
                    <li class="list-inline-item d-inline-flex flex-row align-items-center">
            
                        <a target="_blank" href="#">
            
                            <em data-feather="facebook" height="16" width="16"></em>
                        </a>
                    </li>
            
                </ul>
            
            </div>
            
            
            <div class="col-sm-12 text-muted small-xl">
                <p>
                    Copyright
                    2019
                    HrLibrary.
                    <span class="heading-light small-xl">All rights reserved.</span>
                </p>
            </div>

            <!-- <div class="col-sm-12 text-muted small-xl">
                <p>Made with ❤️️ by <a class="text-muted" href="#" target="_blank"></a>
                </p>
            </div> -->

        </div>

    </div>

</footer>

<!--search popup-->
<section class="popup-section d-none py-4" id="search-popup">
    <div class="container">
        <button class="d-flex flex-row align-items-center ml-auto close d-print-none" onclick="toggleSearch();"><em data-feather="x" height="32" width="32"></em></button>
        <div class="row">
            <div class="col-sm-10 col-12 mx-auto">
                <textarea autocomplete="off" class="search-box" id="search-query" placeholder="Type to search ..." rows="1"></textarea>
                <div class="text-center mt-6 " id="loader">
                    <div class="loader mx-auto"></div>
                </div>
                <div class="mt-5" id="results"></div>
            </div>
        </div>
    </div>
</section>


    <!--        <script th:src="@{/js/jquery.min.js}"></script>
            <script defer th:src="@{/vendors/tether.min.js}"></script>
            <script defer th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="../../code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer="" src="../../maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
    <script defer="" src="../../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>

    <script defer="" src="../vendors/slick/slick.min.js"></script>
    <script defer="" src="../vendors/jquery.easing.min.js"></script>
    <!--<script defer th:src="@{/vendors/wow.js}"></script>-->
    <script defer="" src="../vendors/jquery.blockui.js"></script>
    <script defer="" src="../vendors/footable/js/footable.min.js"></script>
    <script defer="" src="../vendors/summernote/summernote.min.js"></script>
    <script defer="" src="../vendors/pnotify/pnotify.min.js"></script>
    <script defer="" src="../vendors/parsley.min.js"></script>
    <script defer="" src="../vendors/select2/js/select2.min.js"></script>
    <script defer="" src="../vendors/switchery.min.js"></script>
    <script defer="" src="../vendors/fileinput/js/fileinput.min.js"></script>
    <script defer="" src="../vendors/maxlength.min.js"></script>
    <script defer="" src="../vendors/autosize.min.js"></script>
    <script defer="" src="../vendors/dropzone.min.js"></script>
    <script defer="" src="../vendors/moment.min.js"></script>
    <script defer="" src="../vendors/livestamp.min.js"></script>
    <script defer="" src="../vendors/imgix.min.js"></script>
    <script defer="" src="../vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script defer="" src="../vendors/theia-sticky-sidebar.min.js"></script>
    <script src="../../twemoji.maxcdn.com/2/twemoji.min70e2.js?2.3.0"></script>
    <script defer="" src="../js/appdd8a.js?2.0.2"></script>




    <div aria-hidden="false" class="modal" data-backdrop="static" data-keyboard="false" id="loginModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span data-feather="x"></span>
                    </button>
                    <div class="p-4">
                        <h4>Log in to StartupBase</h4>
                        <p class="lead">StartupBase is a community of makers and early adopters to share & discuss the
                            latest products and ideas.</p>
                        <div class="my-3 px-m px-md-5">
                            <a class="btn btn-twitter d-flex flex-row align-items-center justify-content-center" href="https://startupbase.io/login/twitter?origin=/startups/billisimo">
                                <em class="mr-2" data-feather="twitter" height="18" width="18"></em> Log in with Twitter
                            </a>
<!--                            <a th:href="@{/login/facebook(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-facebook d-flex flex-row align-items-center justify-content-center my-3">-->
<!--                                <em data-feather="facebook" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                Facebook-->
<!--                            </a>-->
<!--                            <a th:href="@{/login/linkedin(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-linkedin d-flex flex-row align-items-center justify-content-center">-->
<!--                                <em data-feather="linkedin" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                LinkedIn-->
<!--                            </a>-->
                        </div>
                        <small class="text-muted">We won't post without your permission.</small>
                        <p class="text-muted small pt-1">By clicking the log in button above, you agree to our
                            <a href="../terms.html">Terms of Use</a>
                            and
                            <a href="../privacy.html">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

 

</body>

</html>