<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Frequently Asked Questions - StartupBase</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" content="7e391764-002d-4328-b6b4-a73ed1a08f8f" />
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    
    <!--imgix host configuration-->
    <meta content="sb.imgix.net" property="ix:host" />
    <meta content="true" property="ix:useHttps" />
    
    <link href="css/main.css" media="screen" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" rel="stylesheet" />
    <link media="screen" rel="stylesheet" href="css/animate.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick-theme.css" />
    <link media="screen" rel="stylesheet" href="vendors/footable/css/footable.standalone.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/summernote/summernote.css" />
    <link media="screen" rel="stylesheet" href="vendors/pnotify/pnotify.css" />
    <link media="screen" rel="stylesheet" href="vendors/select2/css/select2.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/magnific-popup/magnific-popup.css" />
    <link media="screen" rel="stylesheet" href="css/vendors.css" />

    
    
        <link href="img/ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
        <link href="img/ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
        <link href="img/ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
        <link href="img/ico/site.webmanifest" rel="manifest" />
        <link color="#95ffb1" href="img/ico/safari-pinned-tab.svg" rel="mask-icon" />
        <link href="img/ico/favicon.ico" rel="shortcut icon" />
        <meta content="#603cba" name="msapplication-TileColor" />
        <meta content="/img/ico/browserconfig.xml" name="msapplication-config" />
        <meta content="#95ffb1" name="theme-color" />
    
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61485040-9', 'auto');
  ga('send', 'pageview');
</script>
    
    
        <script>
          !function(e){var t,a={kitId:"aib0myx",scriptTimeout:3e3,async:!0},n=e.documentElement,c=setTimeout(function(){n.className=n.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),i=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];n.className+=" wf-loading",i.src="https://use.typekit.net/"+a.kitId+".js",i.async=!0,i.onload=i.onreadystatechange=function(){if(t=this.readyState,!(s||t&&"complete"!=t&&"loaded"!=t)){s=!0,clearTimeout(c);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(i,o)}(document);
        </script>
    
</head>
<body>
<!--top message bar-->


<!--not verified bar-->


<!--product top welcome message-->


<!--header-->
<section class="bg-transparent">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-0 px-sm-3">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand py-0" href="index.html">
                        <img alt="StartupBase" class="navbar-logo-sm" src="img/logo.svg" />
                    </a>
                    <button aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mr-auto" data-target="#main-navigation" data-toggle="collapse" type="button">
                        <span class="text-muted" data-feather="more-horizontal"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="featured-startups.html">Featured</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="markets.html">Markets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="newsletter.html">Spark</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link top-badge" data-badge="" target="_blank" href="https://whobal.com/?utm_source=sb-header">Sell Business</a>
                            </li>
                            <li class="nav-item more-menu-alt">
                                <a class="nav-link" href="changelog.html">Changelog</a>
                            </li>
                            <li class="nav-item dropdown d-none more-menu">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle pb-1" data-toggle="dropdown" href="#" id="more-items">
                                    <span class="mt-1" data-feather="more-horizontal" height="18" width="18"></span>
                                </a>
                                <div aria-labelledby="more-items" class="dropdown-menu">
                                    <a class="dropdown-item" href="changelog.html">Changelog</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-auto px-0 px-sm-3">
                <div class="d-flex flex-row align-items-center my-3 justify-content-end px-3">
                    <span class="search-icon open-search" data-feather="search" height="20" onclick="toggleSearch()" width="20"></span>
                    
                    <a class="btn btn-primary mr-2 d-sm-flex flex-sm-row align-sm-items-center d-none" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="plus" height="20" width="20"></em> Startup
                    </a>
                    <a class="btn btn-light d-flex flex-row align-items-center" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="user" height="20" width="20"></em> Log In
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>


        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action disabled text-uppercase font-weight-bold" href="#">StartupBase</a>
                            <a class="list-group-item list-group-item-action" href="terms.html">Terms of Service</a>
                            <a class="list-group-item list-group-item-action" href="privacy.html">Privacy Policy</a>
                            <a class="list-group-item list-group-item-action" href="about.html">About</a>
                            <a class="list-group-item list-group-item-action active" href="faq.html">FAQ</a>
                            <a class="list-group-item list-group-item-action" href="criteria.html">Selection Criteria</a>
                            <a class="list-group-item list-group-item-action" href="changelog.html">Changelog</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h1>Frequently Asked Questions</h1>
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="text-muted" id="general">General</h5>

                                <h6 id="whats-startupbase">What is StartupBase?</h6>
                                <p>
                                    StartupBase is a community of makers and early adopters to share & discuss the latest products and ideas.
                                    It's a place to discover and get early access to exciting new startups.
                                    We're proud of <a href="about.html">our early adopters</a>.
                                </p>

                                <h6 id="getting-started">I'm new to StartupBase. How do I get started?</h6>
                                <p>
                                    First of all, you should login (signup) to StartupBase. At the moment, you can login via Twitter, LinkedIn or Facebook.
                                    You can explore the latest startups and exciting tools used by startups. If you are a founder and your startup
                                    meets our <a href="criteria.html">selection criteria</a>, you can submit it to introduce yourself and your
                                    startup to our community. You can also connect to investors, makers and find other very useful resources at
                                    StartupBase.
                                </p>

                                <h6 id="getting-featured">How do I get featured my startup on StartupBase?</h6>
                                <p>
                                    Please read our <a href="criteria.html">selection criteria</a> and
                                    <a href="login.html">submit your startup</a>.
                                </p>

                                <h5 class="text-muted mt-4" id="user-accounts">User Accounts</h5>

                                <h6 id="who-can-join">Who can create an account on StartupBase?</h6>
                                <p>
                                    StartupBase is open to everyone like makers, investors, incubators, mentors, indie hackers,
                                    and freelancers. Anyone can signup and make their contribution by listing their products
                                    & services as well as providing feedback to other makers.
                                </p>

                                <h6 id="create-account">How do I create an account?</h6>
                                <p>
                                    Click on "Log In" button at top right corner of the website and then follow the instructions. Alternatively,
                                    you can visit <a href="login.html">login</a> page to create your account.
                                </p>

                                <h6 id="no-signup-link">I couldn't find any sign up link?</h6>
                                <p>
                                    Users can only signup / login to StartupBase via Twitter, LinkedIn or Facebook. When you click on "Log in with Twitter/LinkedIn/Facebook"
                                    button, it will automatically create your account if it does not exist.
                                </p>

                                <h6 id="why-twitter-signup">Why do I need to log in with Twitter, LinkedIn or Facebook?</h6>
                                <p>
                                    By logging in with Twitter, LinkedIn or Facebook, you don't need to remember another password. Don't worry, we won't tweet or share
                                    on your behalf without your explicit approval. Signing in with Twitter, LinkedIn or Facebook is not considered approval to tweet or share
                                    on your behalf.
                                </p>

                                <h6 id="change-email">How can I change my email address?</h6>
                                <p>
                                    Please email us with your request and include your previous email address and the new one.
                                </p>

                                <h6 id="change-twitter-account">How can I change the Twitter, LinkedIn or Facebook account associated with my StartupBase account?</h6>
                                <p>
                                    At the moment, it is not possible to change associated Twitter, LinkedIn or Facebook account. Simply sign up for a new account.
                                </p>

                                <h6 id="create-password">How can I integrate my all Twitter, LinkedIn and Facebook accounts?</h6>
                                <p>
                                    We allow users to integrate multiple accounts to log in to StartupBase. After logging into 
                                    StartupBase, navigate to <a href="login.html">Settings</a> page and then 'Connect Accounts' to 
                                    integrate multiple accounts.
                                </p>

                                <h6 id="delete-account">How do I delete my account?</h6>
                                <p>
                                    Once your account deletes, everything you contributed so far will also be deleted including startups
                                    you list, comments you made on other products etc. To delete your account, please send us an email 
                                    with your request.
                                </p>

                                <h5 class="text-muted mt-4" id="startups">Startups</h5>

                                <h6 id="startups-type">What types of startups I can submit?</h6>
                                <p>
                                    You can only submit technology startups at StartupBase like mobile apps, SaaS, IoT, innovative software
                                    and hardware, chrome extensions or artificial intelligence projects. It's not a right place to promote 
                                    your blog, online store, local business, online course or consultancy services.
                                </p>

                                <h6 id="submit-startup">How do I submit my startup?</h6>
                                <p>
                                    Please go to <a href="login.html">submit startup page</a>.
                                </p>

                                <h6 id="startup-review">What happens after I submit my startup?</h6>
                                <p>
                                    We'll do a quick review to check whether it follows our <a href="criteria.html">submission guidelines</a> or not.
                                    If your startup qualifies, it will be added to featured startups waiting queue. It may take some time (2-3 months) to get featured depending
                                    on the number of startups in queue. Please note that it is first come first served list and there is no way to skip the waiting
                                    queue. We'll notify you by email once it is featured. However, we offer <b>premium review</b> for startups that want to skip the 
                                    waiting queue. We'll review and publish your startup (if meet our <a href="criteria.html">selection criteria</a>) within 24 hours. 
                                    You can find more details in your <a href="login.html">dashboard</a>.
                                </p>

                                <h6 id="selection-criteria">How do you select startups? What is your selection criteria?</h6>
                                <p>
                                    Your startup should be publicly available for immediate access of our community, must not 
                                    have been featured before at StartupBase, should be a technology startup, needs to have own domain,
                                    decent website design describing the product features and a way for visitors to sign up for newsletter. For
                                    the full criteria, please <a href="criteria.html">see this page</a>.
                                </p>

                                <h6 id="featured-exception">My startup doesn't match the selection criteria. Can I still submit it?</h6>
                                <p>
                                    No. We will make no exceptions to our selection criteria. Our criteria is geared towards the preferences
                                    of our audience. Startups, not matching the criteria, would therefore have little benefit of getting featured.
                                </p>

                                <h6 id="startup-status">How can I know the status of my product submission?</h6>
                                <p>
                                    Go to your <a href="login.html">dashboard</a>. If you do not see your submission listed, make sure that
                                    you are signed in with the same account as you used when submitting your startup for review.
                                </p>

                                <h6 id="startup-not-featured-yet">Why is my startup not featured yet?</h6>
                                <p>
                                    It has either not been reviewed yet, or wasn't accepted. It may also be in waiting queue. You
                                    can find the current status of your submission in your <a href="login.html">dashboard</a>.
                                </p>

                                <h6 id="startup-not-accepted">Why was my startup not accepted?</h6>
                                <p>
                                    We couldn't provide you exact reason behind our decision. But it is highly like that your startup didn't meet our <a href="criteria.html">selection criteria</a>. 
                                    Please note that due to the large number of submissions we receive, we can not respond to any inquiry about this. However,
                                    we will notify you by email about our decision and all possible reasons of rejection.
                                </p>

                                <h6 id="featured-in-newsletter">Will my startup be included in the newsletter?</h6>
                                <p>
                                    We send out weekly <a href="newsletter.html">Spark</a> newsletters including top startups, resources & deals. 
                                    Every startup, featured on StartupBase, qualifies to be included in the newsletter. 
                                    However, it depends on how good your startup does on the day or over the week it has been featured. You can also
                                    <a href="promote.html">promote your startup</a> in the newsletter.
                                </p>

                                <h6 id="trending-startups">How does my startup get into featured startups list?</h6>
                                <p>
                                    The featured startups list on the homepage includes the recently <a href="promote.html">promoted startups</a>. 
                                    In order to get into featured startups list, your startup must already be published on StartupBase.
                                    The promoted startups are displayed in the featured section of the home page as well as 
                                    in dedicated <a href="featured-startups.html">featured startups</a> page. As a bonus,
                                    the highest priced featured startup is also promoted in <a href="newsletter.html">Spark newsletter</a> 
                                    sent every Tuesday (Only applicable if startup is featured for at least 7 days).
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-12">
                                <div class="card card-body bg-light">
                                    <h4>It doesn't work out for me 😑</h4>
                                    <p class="lead">
                                        We're sorry. Please send us an <a href="mailto:support@startupbase.io">email</a> or 
                                        tweet <a href="https://twitter.com/startupbaseio" target="_blank">@StartupBaseIO</a> to get further
                                        assistance. For questions related to the 
                                        selection criteria, please read our <a href="criteria.html">selection criteria</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div></section>

        <!--social metadata-->
        
            <meta content="Frequently asked questions." name="description" />
            <meta content="summary_large_image" name="twitter:card" />
            <meta content="@startupbaseio" name="twitter:site" />
            <meta content="FAQ - StartupBase" name="twitter:title" />
            <meta content="Frequently asked questions." name="twitter:description" />
            <meta content="https://startupbase.io/img/banner.png" name="twitter:image" />
            <meta content="@startupbaseio" name="twitter:creator" />

            <meta content="221041204967678" property="fb:app_id" />
            <meta content="StartupBase" property="og:site_name" />
            <meta content="FAQ - StartupBase" property="og:title" />
            <meta content="article" property="og:type" />
            <meta content="https://startupbase.io/img/banner.png" property="og:image" />
            <meta content="https://startupbase.io/faq" property="og:url" />
            <meta content="Frequently asked questions." property="og:description" />
        
    


<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-12">
                <h5>
                    About
                </h5>
                <p>
                    StartupBase is a community of makers and early adopters to share & discuss the latest
                    products and ideas. It is a place to discover and get early access to exciting new startups.
                    <br /><br />
                    We are proud of <a href="about.html">our early adopters</a> 😍
                </p>
            </div>
            <div class="col-sm-3 ml-auto col-6">
                <h5>Discover</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html">Startups</a></li>
                    <li><a href="markets.html">Markets</a></li>
                    <li><a href="promote.html">Promote</a></li>
                    <li><a href="login.html">Submit</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-6">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="criteria.html">Selection Criteria</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="newsletter.html">Newsletter</a></li>
                    <li><a href="mailto:support@startupbase.io">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-sm-12">
                <ul class="list-inline navbar-font-size">
                    <li class="list-inline-item mr-4"><a href="terms.html">Terms</a></li>
                    <li class="list-inline-item mr-4"><a href="privacy.html">Privacy</a></li>
                    <li class="list-inline-item mr-4"><a href="changelog.html">Changelog</a></li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center mr-4">
                        <a target="_blank" href="https://twitter.com/startupbaseio">
                            <em data-feather="twitter" height="16" width="16"></em>
                        </a>
                    </li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center">
                        <a target="_blank" href="https://www.facebook.com/startupbase.io">
                            <em data-feather="facebook" height="16" width="16"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>
                    Copyright
                    2019
                    StartupBase.
                    <span class="heading-light small-xl">All rights reserved.</span>
                </p>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>Made with ❤️️ by <a class="text-muted" href="https://attacomsian.com/?utm_source=startupbase" target="_blank">@attacomsian</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!--search popup-->
<section class="popup-section d-none py-4" id="search-popup">
    <div class="container">
        <button class="d-flex flex-row align-items-center ml-auto close d-print-none" onclick="toggleSearch();"><em data-feather="x" height="32" width="32"></em></button>
        <div class="row">
            <div class="col-sm-10 col-12 mx-auto">
                <textarea autocomplete="off" class="search-box" id="search-query" placeholder="Type to search ..." rows="1"></textarea>
                <div class="text-center mt-6 " id="loader">
                    <div class="loader mx-auto"></div>
                </div>
                <div class="mt-5" id="results"></div>
            </div>
        </div>
    </div>
</section>


    <!--        <script th:src="@{/js/jquery.min.js}"></script>
            <script defer th:src="@{/vendors/tether.min.js}"></script>
            <script defer th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="../code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer="" src="../maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
    <script defer="" src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>

    <script defer="" src="vendors/slick/slick.min.js"></script>
    <script defer="" src="vendors/jquery.easing.min.js"></script>
    <!--<script defer th:src="@{/vendors/wow.js}"></script>-->
    <script defer="" src="vendors/jquery.blockui.js"></script>
    <script defer="" src="vendors/footable/js/footable.min.js"></script>
    <script defer="" src="vendors/summernote/summernote.min.js"></script>
    <script defer="" src="vendors/pnotify/pnotify.min.js"></script>
    <script defer="" src="vendors/parsley.min.js"></script>
    <script defer="" src="vendors/select2/js/select2.min.js"></script>
    <script defer="" src="vendors/switchery.min.js"></script>
    <script defer="" src="vendors/fileinput/js/fileinput.min.js"></script>
    <script defer="" src="vendors/maxlength.min.js"></script>
    <script defer="" src="vendors/autosize.min.js"></script>
    <script defer="" src="vendors/dropzone.min.js"></script>
    <script defer="" src="vendors/moment.min.js"></script>
    <script defer="" src="vendors/livestamp.min.js"></script>
    <script defer="" src="vendors/imgix.min.js"></script>
    <script defer="" src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script defer="" src="vendors/theia-sticky-sidebar.min.js"></script>
    <script src="../twemoji.maxcdn.com/2/twemoji.min70e2.js?2.3.0"></script>
    <script defer="" src="js/appdd8a.js?2.0.2"></script>




    <div aria-hidden="false" class="modal" data-backdrop="static" data-keyboard="false" id="loginModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span data-feather="x"></span>
                    </button>
                    <div class="p-4">
                        <h4>Log in to StartupBase</h4>
                        <p class="lead">StartupBase is a community of makers and early adopters to share & discuss the
                            latest products and ideas.</p>
                        <div class="my-3 px-m px-md-5">
                            <a class="btn btn-twitter d-flex flex-row align-items-center justify-content-center" href="https://startupbase.io/login/twitter?origin=/faq">
                                <em class="mr-2" data-feather="twitter" height="18" width="18"></em> Log in with Twitter
                            </a>
<!--                            <a th:href="@{/login/facebook(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-facebook d-flex flex-row align-items-center justify-content-center my-3">-->
<!--                                <em data-feather="facebook" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                Facebook-->
<!--                            </a>-->
<!--                            <a th:href="@{/login/linkedin(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-linkedin d-flex flex-row align-items-center justify-content-center">-->
<!--                                <em data-feather="linkedin" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                LinkedIn-->
<!--                            </a>-->
                        </div>
                        <small class="text-muted">We won't post without your permission.</small>
                        <p class="text-muted small pt-1">By clicking the log in button above, you agree to our
                            <a href="terms.html">Terms of Use</a>
                            and
                            <a href="privacy.html">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

    
    

    
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "../connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=262938574181652";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



</body>

</html>