<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Privacy Policy - StartupBase</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" content="7e391764-002d-4328-b6b4-a73ed1a08f8f" />
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    
    <!--imgix host configuration-->
    <meta content="sb.imgix.net" property="ix:host" />
    <meta content="true" property="ix:useHttps" />
    
    <link href="css/main.css" media="screen" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" rel="stylesheet" />
    <link media="screen" rel="stylesheet" href="css/animate.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick.css" />
    <link media="screen" rel="stylesheet" href="vendors/slick/slick-theme.css" />
    <link media="screen" rel="stylesheet" href="vendors/footable/css/footable.standalone.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/summernote/summernote.css" />
    <link media="screen" rel="stylesheet" href="vendors/pnotify/pnotify.css" />
    <link media="screen" rel="stylesheet" href="vendors/select2/css/select2.min.css" />
    <link media="screen" rel="stylesheet" href="vendors/magnific-popup/magnific-popup.css" />
    <link media="screen" rel="stylesheet" href="css/vendors.css" />

    
    
        <link href="img/ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
        <link href="img/ico/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
        <link href="img/ico/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
        <link href="img/ico/site.webmanifest" rel="manifest" />
        <link color="#95ffb1" href="img/ico/safari-pinned-tab.svg" rel="mask-icon" />
        <link href="img/ico/favicon.ico" rel="shortcut icon" />
        <meta content="#603cba" name="msapplication-TileColor" />
        <meta content="/img/ico/browserconfig.xml" name="msapplication-config" />
        <meta content="#95ffb1" name="theme-color" />
    
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61485040-9', 'auto');
  ga('send', 'pageview');
</script>
    
    
        <script>
          !function(e){var t,a={kitId:"aib0myx",scriptTimeout:3e3,async:!0},n=e.documentElement,c=setTimeout(function(){n.className=n.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),i=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];n.className+=" wf-loading",i.src="https://use.typekit.net/"+a.kitId+".js",i.async=!0,i.onload=i.onreadystatechange=function(){if(t=this.readyState,!(s||t&&"complete"!=t&&"loaded"!=t)){s=!0,clearTimeout(c);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(i,o)}(document);
        </script>
    
</head>
<body>
<!--top message bar-->


<!--not verified bar-->


<!--product top welcome message-->


<!--header-->
<section class="bg-transparent">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-0 px-sm-3">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand py-0" href="index.html">
                        <img alt="StartupBase" class="navbar-logo-sm" src="img/logo.svg" />
                    </a>
                    <button aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mr-auto" data-target="#main-navigation" data-toggle="collapse" type="button">
                        <span class="text-muted" data-feather="more-horizontal"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Discover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="featured-startups.html">Featured</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="markets.html">Markets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="newsletter.html">Spark</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link top-badge" data-badge="" target="_blank" href="https://whobal.com/?utm_source=sb-header">Sell Business</a>
                            </li>
                            <li class="nav-item more-menu-alt">
                                <a class="nav-link" href="changelog.html">Changelog</a>
                            </li>
                            <li class="nav-item dropdown d-none more-menu">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle pb-1" data-toggle="dropdown" href="#" id="more-items">
                                    <span class="mt-1" data-feather="more-horizontal" height="18" width="18"></span>
                                </a>
                                <div aria-labelledby="more-items" class="dropdown-menu">
                                    <a class="dropdown-item" href="changelog.html">Changelog</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-auto px-0 px-sm-3">
                <div class="d-flex flex-row align-items-center my-3 justify-content-end px-3">
                    <span class="search-icon open-search" data-feather="search" height="20" onclick="toggleSearch()" width="20"></span>
                    
                    <a class="btn btn-primary mr-2 d-sm-flex flex-sm-row align-sm-items-center d-none" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="plus" height="20" width="20"></em> Startup
                    </a>
                    <a class="btn btn-light d-flex flex-row align-items-center" onclick="$('#loginModal').modal('toggle');return false;" href="login.html">
                        <em class="mr-2" data-feather="user" height="20" width="20"></em> Log In
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>


        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action disabled text-uppercase font-weight-bold" href="#">StartupBase</a>
                            <a class="list-group-item list-group-item-action" href="terms.html">Terms of Service</a>
                            <a class="list-group-item list-group-item-action active" href="privacy.html">Privacy Policy</a>
                            <a class="list-group-item list-group-item-action" href="about.html">About</a>
                            <a class="list-group-item list-group-item-action" href="faq.html">FAQ</a>
                            <a class="list-group-item list-group-item-action" href="criteria.html">Selection Criteria</a>
                            <a class="list-group-item list-group-item-action" href="changelog.html">Changelog</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h1>Privacy Policy</h1>
                        <p><i>Last Modified Date: September 3rd, 2018</i></p>
                        <p>StartupBase ("us", "we", or "our") manages the <a href="index.html">https://startupbase.io</a> website ("Service",or "Website").&nbsp;</p>
                        <p>This page contains information about our policies regarding the collection, use and disclosure of Personal Information when you use our Website. We will not use or share or disclose your information with anyone except as described in this Privacy Policy.&nbsp;</p>
                        <p class="font-weight-bold">We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="terms.html">https://startupbase.io/terms</a>.</p>

                        <h4>1. Types of Information We Collect</h4>
                        <p>
                            <strong>Personal Information:</strong> When you create an account at StartupBase, we receive and store information which you provide while completing the signup process. 
                            We may collect Personal Information which include, but is not limited to, your name, email address, other information ("Personal Information") and third-party account credentials (Twitter, LinkedIn or Facebook).
                            We receive these information from third parties only after you authorize such transmission.
                        </p>
                        <p>
                            <strong>Non-Personal Information:</strong> Like most websites, we gather statistical and other analytical information collected on an aggregate basis of all visitors to our website. This Non-Personal Data comprises information that cannot be used to identify or contact you, such as demographic information regarding, for example, user IP addresses where they have been clipped or anonymised, browser types and other anonymous statistical data involving the use of our website.
                        </p>

                        <h4>2. Use of Information</h4>
                        <p>We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services. We only collect, use, and disclose personal information or non-personal information for purposes that are reasonable in the circumstances. We use only fair and lawful means to collect information. </p>
                        <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>

                        <h4>3. Information Sharing with 3rd-Parties</h4>
                        <p>We will not share, sell, or give away any of our users' Personal Information to third parties unless one of the following circumstances applies:</p>
                        <ul>
                            <li>Except as it relates to advertisers and our ad partners, we may share information with vendors, consultants, and other service providers who need access to such information to carry out work for us.</li>
                            <li>We may also release your information when we believe it is appropriate to comply with the law, enforce our site policies, or protect ours or others’ rights, property, or safety.</li>
                            <li>We may allow advertisers and/or merchant partners ("Advertisers") to choose the demographic information of users who will see their advertisements and/or promotional offers and you agree that we may provide any of the information we have collected from you in non-personally identifiable form to an Advertiser, in order for that Advertiser to select the appropriate audience for those advertisements and/or offers.</li>
                            <li>We use analytics partners (such as Google Analytics) to help analyze usage and traffic for our Services.</li>
                            <li>We may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that would be transferred. Also, if we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information could be one of the assets transferred to or acquired by a third party.</li>
                        </ul>

                        <h4>4. Review and Modification</h4>
                        <p>
                            You may add, modify, or update your Personal Information from settings anytime. If any part of the information is not available 
                            in the editable format to you, then you can email us at <a href="mailto:support@startupbase.io">support@startupbase.io</a>. 
                            It is your responsibility to ensure that, the information you have on our server, are the most up-to-date information as possible.
                        </p>

                        <h4>5. Account Termination</h4>
                        <p>
                            You can request to terminate your account at StartupBase anytime by contacting us at <a href="mailto:support@startupbase.io">support@startupbase.io</a>.
                            We will delete your Personal Information from our server and everytging else that is associated with your profile at StartupBase. Please keep in mind that
                            some information may remain in our records after your deletion of account. We may use any aggregated data derived from or incorporating your 
                            Personal Information after you update or delete it, but not in a manner that would identify you personally.
                        </p>

                        <h4>6. Children Under 13</h4>
                        <p>
                            StartupBase is not intended for children under 13 years of age. No one under age 13 may provide any information to or on 
                            StartupBase. We do not knowingly target advertising to, or collect information from, children under the age of 13. If you are under 13, do not use or provide any information on the Website. 
                        </p>

                        <h4>7. Third-Party Privacy and Do Not Track Disclosure</h4>
                        <p>
                            Our Website may contain links to other sites which are not managed by us. If you click on a third party link, you will be directed to that third party's website. We strongly advise you to review the Privacy Policy of every site you visit. We do not have control over, and assume no responsibility for the content, privacy policies or practices of any third party websites or services.
                        </p>
                        <p>
                            We do not support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked. You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.
                        </p>

                        <h4>8. Data Retention</h4>
                        <p>Your personal information is retained for as long as necessary to fulfill the purposes outlined in this Privacy Policy.</p>

                        <h4>9. Security</h4>
                        <p>We uses commercially reasonable controls to safeguard data against unauthorized use and theft. However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.</p>

                        <h4>10. Use of Cookies</h4>
                        <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and transferred to your device. We use cookies to collect information in order to improve our services for you. If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.</p>

                        <h4>11. Change of Privacy Policy</h4>
                        <p>StartupBase may, from time to time, modify this Privacy Policy but if we do, we will bring it to your attention by placing a 
                            notice on the <a href="index.html">StartupBase.io</a> website, by sending you an email, or by some other means.</p>

                        <h4>11. Contact Us</h4>
                        <p>If you have any questions or suggestions for our Privacy Policy, please send us an email at <a href="mailto:support@startupbase.io">support@startupbase.io</a>.</p>
                    </div>
                </div>
        </div></section>
    

<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-12">
                <h5>
                    About
                </h5>
                <p>
                    StartupBase is a community of makers and early adopters to share & discuss the latest
                    products and ideas. It is a place to discover and get early access to exciting new startups.
                    <br /><br />
                    We are proud of <a href="about.html">our early adopters</a> 😍
                </p>
            </div>
            <div class="col-sm-3 ml-auto col-6">
                <h5>Discover</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html">Startups</a></li>
                    <li><a href="markets.html">Markets</a></li>
                    <li><a href="promote.html">Promote</a></li>
                    <li><a href="login.html">Submit</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-6">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="criteria.html">Selection Criteria</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="newsletter.html">Newsletter</a></li>
                    <li><a href="mailto:support@startupbase.io">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-sm-12">
                <ul class="list-inline navbar-font-size">
                    <li class="list-inline-item mr-4"><a href="terms.html">Terms</a></li>
                    <li class="list-inline-item mr-4"><a href="privacy.html">Privacy</a></li>
                    <li class="list-inline-item mr-4"><a href="changelog.html">Changelog</a></li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center mr-4">
                        <a target="_blank" href="https://twitter.com/startupbaseio">
                            <em data-feather="twitter" height="16" width="16"></em>
                        </a>
                    </li>
                    <li class="list-inline-item d-inline-flex flex-row align-items-center">
                        <a target="_blank" href="https://www.facebook.com/startupbase.io">
                            <em data-feather="facebook" height="16" width="16"></em>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>
                    Copyright
                    2019
                    StartupBase.
                    <span class="heading-light small-xl">All rights reserved.</span>
                </p>
            </div>
            <div class="col-sm-12 text-muted small-xl">
                <p>Made with ❤️️ by <a class="text-muted" href="https://attacomsian.com/?utm_source=startupbase" target="_blank">@attacomsian</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!--search popup-->
<section class="popup-section d-none py-4" id="search-popup">
    <div class="container">
        <button class="d-flex flex-row align-items-center ml-auto close d-print-none" onclick="toggleSearch();"><em data-feather="x" height="32" width="32"></em></button>
        <div class="row">
            <div class="col-sm-10 col-12 mx-auto">
                <textarea autocomplete="off" class="search-box" id="search-query" placeholder="Type to search ..." rows="1"></textarea>
                <div class="text-center mt-6 " id="loader">
                    <div class="loader mx-auto"></div>
                </div>
                <div class="mt-5" id="results"></div>
            </div>
        </div>
    </div>
</section>


    <!--        <script th:src="@{/js/jquery.min.js}"></script>
            <script defer th:src="@{/vendors/tether.min.js}"></script>
            <script defer th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="../code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer="" src="../maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
    <script defer="" src="../cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>

    <script defer="" src="vendors/slick/slick.min.js"></script>
    <script defer="" src="vendors/jquery.easing.min.js"></script>
    <!--<script defer th:src="@{/vendors/wow.js}"></script>-->
    <script defer="" src="vendors/jquery.blockui.js"></script>
    <script defer="" src="vendors/footable/js/footable.min.js"></script>
    <script defer="" src="vendors/summernote/summernote.min.js"></script>
    <script defer="" src="vendors/pnotify/pnotify.min.js"></script>
    <script defer="" src="vendors/parsley.min.js"></script>
    <script defer="" src="vendors/select2/js/select2.min.js"></script>
    <script defer="" src="vendors/switchery.min.js"></script>
    <script defer="" src="vendors/fileinput/js/fileinput.min.js"></script>
    <script defer="" src="vendors/maxlength.min.js"></script>
    <script defer="" src="vendors/autosize.min.js"></script>
    <script defer="" src="vendors/dropzone.min.js"></script>
    <script defer="" src="vendors/moment.min.js"></script>
    <script defer="" src="vendors/livestamp.min.js"></script>
    <script defer="" src="vendors/imgix.min.js"></script>
    <script defer="" src="vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script defer="" src="vendors/theia-sticky-sidebar.min.js"></script>
    <script src="../twemoji.maxcdn.com/2/twemoji.min70e2.js?2.3.0"></script>
    <script defer="" src="js/appdd8a.js?2.0.2"></script>




    <div aria-hidden="false" class="modal" data-backdrop="static" data-keyboard="false" id="loginModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span data-feather="x"></span>
                    </button>
                    <div class="p-4">
                        <h4>Log in to StartupBase</h4>
                        <p class="lead">StartupBase is a community of makers and early adopters to share & discuss the
                            latest products and ideas.</p>
                        <div class="my-3 px-m px-md-5">
                            <a class="btn btn-twitter d-flex flex-row align-items-center justify-content-center" href="https://startupbase.io/login/twitter?origin=/privacy">
                                <em class="mr-2" data-feather="twitter" height="18" width="18"></em> Log in with Twitter
                            </a>
<!--                            <a th:href="@{/login/facebook(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-facebook d-flex flex-row align-items-center justify-content-center my-3">-->
<!--                                <em data-feather="facebook" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                Facebook-->
<!--                            </a>-->
<!--                            <a th:href="@{/login/linkedin(origin=${#httpServletRequest.getRequestURI()})}"-->
<!--                               class="btn btn-linkedin d-flex flex-row align-items-center justify-content-center">-->
<!--                                <em data-feather="linkedin" width="18" height="18" class="mr-2"></em> Log in with-->
<!--                                LinkedIn-->
<!--                            </a>-->
                        </div>
                        <small class="text-muted">We won't post without your permission.</small>
                        <p class="text-muted small pt-1">By clicking the log in button above, you agree to our
                            <a href="terms.html">Terms of Use</a>
                            and
                            <a href="privacy.html">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>

    
    

    
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "../connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=262938574181652";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>



</body>

</html>